

/* for gallery.html */

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 20px 450px;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul li a:hover{
    color: blue;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.backtohome{
    font-size: 50px;
}
.topicon{
    font-size: 50px;
}

